.balance-title {
    margin-bottom: 10px;
}

.balance-amount {
    display: block;
    margin-bottom: 20px;
}

.global-graph-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logout-button {
    margin-top: 20px;
}